body {

    margin: 0px;
    padding: 0px;
    background-color: #54c3ef;
}

#quizForm {
    margin-left: 450px;
    background-color: #2b3252;
    width: 450px;
    padding: 20px;
    color: #fad744;
    font-family: 'Cabin', sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    margin-top: 30px;
}

#top {
    width: 200px;
    height: 40px;
    margin-left: 580px;
    padding-left: 30px;
}

#heading {
    font-family: 'Caveat Brush', cursive;
    word-spacing: 2PX;
    color: #fad744;
}

h3 {
    margin-left: 10px;
    word-spacing: 2PX;
    color: #fad744;
    font-size: 17px;
}

input {
    font-size: small;
    margin: 10px;
}

button{
    margin-left: 180px;
    width: 100px;
    padding: 0px;
    border-style: none;
    border-radius: 10px;
    height: 30px;
    background-color: #fad744;
    font-size: 18px;
    cursor: pointer;
}


hr {
    color: #fad744;
}

 #scoreBoard {
    position: sticky; 
    background-color: azure;
    height: 170px;
    width: 100px;
    justify-items: right;
    margin-left: 945px;
    border-radius: 6px;
    padding-top: 30px;
    padding-left: 20px;
    font-size: 20px;
    margin-top: -1058px;

} 